export PORT=8081
export HOST=0.0.0.0

export API_KEY=a5e95177da353f58113fd60296e1d250
export USER_ID=24662369@N07

export API_PATH=https://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos
