::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0063DC;
}

::-webkit-scrollbar {
    display: none;
}

div
{    
    transition: all 0.5s ease;
}

body { 
    background-color: white; padding: 20px;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    height: auto;
}

.nav{
    top: 0;
    max-height: 80px;
    height: auto;
    background-color: #dcdcdc;
    position: fixed;
    overflow: hidden;
    max-width: 100%;
    z-index: 3;
    transition: top 0.4s ease-in-out;
}

.nav-up {
    top: -80px;
}

.nav input[type=text]{
    background-color:rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #FC329B;
    outline:none;
    height:30px;
    width: 27%;
    float: right;
    margin: 1% 9%;
    font-size: 20px;
    font-weight: 100;
    border-image: repeating-linear-gradient( 45deg, #FC329B, #FC329B 1%, #0063DC 1%, #0063DC 8%) 10;

    }

.nav .search-open h1 {
    position: absolute;
    display: inline-block;
    float: left;
    color: white;
    padding-left: 15px;
    bottom: 25px;
    font-size: 1.6em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.nav .search .i {
    position: absolute;display: inline-block;
    top:5px;
    margin-left:5px;
    color: white;

}
.nav .search h1 {
    position: absolute;
    display: inline-block;
    float: left;
    color: white;
    padding-left: 15px;
    bottom: 25px;
    font-size: 1.6em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif; font-size: 1.5em; font-weight: 100;

}

.nav img {
    margin: 10px 0px 10px 6%;
    max-width: 10%;
    width: auto;
    height: auto;
}


.allimages {
    display: inline;
    width: auto;
    float: left;
    padding-left: 5%;
    margin-top: 10%;
    z-index: -3;
}
.image-block {
    background-color: white;
    color: #8e8e8e;
    width: 29%;
    min-height: 400px;
    max-height: 300px;
    overflow: hidden;
    float: left;
    margin: 8px;
}

.image-block:hover .image {
    width: 100%;
    margin: auto;
    overflow: hidden;
    vertical-align: middle;
    display: inline-flex;
}

.image-block:hover .image img{
    height:100%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 10;

}

.image-block:hover .image-content {
    color: #4C91E6;
}

.image-block .image-label {
    display: none;
}

.image-block:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}
.image-block:hover .image-label {
    position: relative;
    color: white;
}
.image {
    width: 100%;
}

.image img {
    width: inherit;
    height: auto;
    display: block;
    margin: 8% 24% 24% 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.image-content {
    margin-top: 5%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    display: relative;
}

.highlighted {
    background-color: #0063DC;
    color: #FC329B;
}

@media screen and (max-device-width: 1024px) {

      .image-block {
          width: 44%;
      }
}

@media screen and (max-device-width: 666px) {
    .image-block {
        width: 90%;
        max-height: none;
        min-height: inherit;
    }

    .nav img {
        max-width: 14%;
    }

    .image img {
        margin-bottom: 4%;
    }

    .nav input[type=text] {
        font-size: 14px;
        font-weight: lighter;
        height: 21px;
    }
}

