::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0063DC;
}

::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}

div
{    
    transition: all 0.5s ease;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
}

a:hover {
    color: #0063DC;
}

body { 
    background-color: white; 
    padding: 20px;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    height: auto;
    font-weight: 100;
    font-family: sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=button] {
    background-color: #0063DC;
    border: none;
    border-radius: 10px;
    color: white;
}

input[type=button]:disabled {
    background-color: white;
    color: #0063DC;
}

.pad-top-m {
    padding-top: 1%;
}

.margin-top {
    margin-top: 15px;
}

.nav{
    top: 0;
    max-height: 80px;
    height: auto;
    background-color: white;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    transition: top 0.4s ease-in-out;
}

.nav input[type=text]{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #FC329B;
    outline: none;
    height: 30px;
    /* width: 297px; */
    /* float: right; */
    /* margin: -17% 9%; */
    font-size: 20px;
    font-weight: 100;
    border-image: repeating-linear-gradient( 45deg, #FC329B, #FC329B 1%, #0063DC 1%, #0063DC 8%) 10;
    }

.nav img {
    margin: 10px 0px 10px 6%;
    max-width: 7%;
    width: auto;
    height: auto;
}

.nav form {
    display: inline;
    float: right;
    margin-right: 10%;
    padding-top: 1%;
}

.perPage, .noImages {
    color: #8e8e8e;
    height: 50px;
    width: auto;
    margin: 80px;
    margin-bottom: 0px;
    padding: 20px 0px;
    font-size: 0.8em;
}

.perPage .nav-btns {
    float: right;
}

.perPage select {
    margin-right: 20px;
}
.allimages {
    display: inline;
    width: 100%;
    float: left;
    padding-left: 5%;
}

.allimages .loader {
    width: 100%;
    height: auto;
    position: fixed;
}
.allimages #loader {
    width: 10%;
    margin: auto;
    padding-right: 5%;
    padding-top: 15%;
    display: block;
}

.single-image {
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999999;
    height: 100%;
    position: fixed;
    margin: auto;
    transition: 0.5s ease-in;
    display: none;
}

.close-container {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 20px 30px 0px 0px;
    float: right;
}

.clear-search {
    display: inline;
    color: #0063DC;
    font-weight: 100;
}
.main-image {
    overflow-y: scroll;
    height: 100%;
    margin-left: 5%;
    vertical-align: middle;
    font-size: small;
}
.main-image img {
    clear: both;
    width: 48%;
    height: auto;
    margin-right: 1px;
}

.main-image + div {
    margin: auto;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-variant-caps: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    position: fixed;
}

.main-image .sizes {
    position: relative;
    padding: 0.5% 0;
}

.main-image .image-info {
    width: 50%;
    z-index: 3;
    display: block;
    float: right;
}
.image-block {
    background-color: white;
    color: #8e8e8e;
    width: 29%;
    min-height: 400px;
    max-height: 300px;
    overflow: hidden;
    float: left;
    margin: 15px;
    z-index: -9999;
}

.image-block:hover .image {
    width: 100%;
    margin: auto;
    overflow: hidden;
    vertical-align: middle;
    display: inline-flex;
}

.image-block:hover .image img{
    height:100%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.image-block:hover .image-content {
     color: #4C91E6;
    font-weight: normal;

}

.image-block .image-label {
    display: none;
}

.image-block:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.image-block:hover .image-label {
    position: relative;
    color: white;
}

.image {
    height: 100%;
    margin: auto;
}

.image img {
    width: inherit;
    height: auto;
    display: block;
    margin: 8% 24% 24% 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.image-content {
    width: 60%;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.8em;
    overflow: hidden;
    font-weight: 100;
    border-radius: 40px;
    padding: 3px;
    background: aliceblue;
}

.main-image-content {
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
    font-size: 2em;
    margin: 18px;
    color: #8e8e8e;
}

span.date {
    padding: 5px;
    display: inline;
    text-align: center;
    background-color: #0063db;
    font-weight: 100;
    float: right;
    border-radius: 20px;
    color: white;
    font-size: xx-small;
    }

.highlighted {
    color: #0063DC;
}

@media screen and (max-device-width: 1024px) {

      .image-block {
          width: 44%;
      }
}

@media only screen and (max-device-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    .image-content {
        font-size: 0.8em;
    }
    span.date {
        font-size: 0.6em;
    }


    .image-block {
        width: 90%;
        max-height: none;
        min-height: inherit;
    }

    .nav img {
        max-width: 14%;
    }

    .nav form {
        padding-top: 2%;
    }

    .image img {
        margin-bottom: 4%;
    }

    .nav input[type=text] {
        font-size: 0.8em;
        height: 21px;
        border: none !important;
        border-bottom: 1px solid #FC329B !important;
        outline:none !important;
    }

    .main-image .image-info {
        float: none;
        font-size: 0.8em;
        width: inherit;
        padding: 5% 0px;
    }

    .main-image img {
        width: 100%;
    }

    .perPage, .noImages {
        font-size: 0.5em;
        height: 0px;
        margin: 0 5%;
        margin-top: 12%;
        margin-bottom: 7px;
    }

    .main-image-content {
        font-size: 1.4em;
        height: auto;
    }

}

@media screen and (max-device-width: 2560px) {
    .image img {
        margin: auto;
        width: 100%;
    }

}
