<div>
    <div class="perPage" ng-show="!ctrl.pending">
        Images Per Page
        <select data-ng-model="ctrl.perPage" data-ng-change="ctrl.changePage()">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
        </select>
        Sort by
        <select data-ng-model="ctrl.sort" data-ng-change="ctrl.searchImage()">
            <option value="relevance">Relevance</option>
            <option value="date-posted-asc">Date Posted (ASC)</option>
            <option value="date-posted-desc">Date Posted (DESC)</option>
            <option value="date-taken-asc">Date Taken (ASC)</option>
            <option value="date-taken-desc">Date Taken (DESC)</option>
            <option value="interestingness-asc">Interestingness (ASC)</option>
            <option value="interestingness-desc">Interestingness (DESC)</option>
        </select>
        <div class="pad-top-m">
            Page {{ ctrl.page }} of {{ ctrl.totalPages }} Pages&nbsp;&nbsp;&nbsp; Total Images - {{ ctrl.totalImages }}
            <div class="nav-btns">
                <input type="button" data-ng-click="ctrl.firstPage()" data-ng-disabled="ctrl.page === 1" value="<<"></input>
                <input type="button" data-ng-click="ctrl.prevPage()" data-ng-disabled="ctrl.page === 1" value="<"></input>
                <input type="button" data-ng-click="ctrl.nextPage()" data-ng-disabled="ctrl.page === ctrl.totalPages" value=">"></input>
                <input type="button" data-ng-click="ctrl.lastPage()" data-ng-disabled="ctrl.page === ctrl.totalPages" value=">>"></input>
            </div>
        </div>
    </div>
    <div class="allimages" ng-style="ctrl.allImages">
        <div class="loader" data-ng-show="ctrl.pending">
            <img id="loader" src="images/triangle.gif"></img>
        </div>
        <div class="col-3 image-block animated fadeIn"
            data-ng-repeat="image in photos=(ctrl.imageJSON.photos.photo | filter: {title: ctrl.getText})"
            layout="column"
            layout-align="end center"
            data-ng-click="ctrl.openImage(image)">
            <div class="image-content">
                {{ image.title }}
            </div>
            <span class="date" am-time-ago="image.dateupload | amFromUnix"></span>
            <div class="image" id="inner">
                <img src="https://farm{{ image.farm }}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}.jpg"></img>
            </div>
        </div>
    </div>
    <div class="noImages" ng-style="{'color': 'red'}" data-ng-show="!photos.length && !ctrl.pending">
        Oops! No images having <span class="highlighted">{{ ctrl.searchText }}</span> in title or in description.
    </div>
    <div class="single-image animated" data-ng-class="{bounceInUp: ctrl.bounceInUp, bounceOutDown: ctrl.bounceOutDown}" ng-style="ctrl.singleImage">
        <div class="close-container" data-ng-click="ctrl.closeImage()">X</div>
        <div class="main-image">
            <div class="main-image-content">{{ ctrl.mainImage.title }}</div>
            <img src="https://farm{{ ctrl.mainImage.farm }}.staticflickr.com/{{ctrl.mainImage.server}}/{{ctrl.mainImage.id}}_{{ctrl.mainImage.secret}}.jpg"></img>
            <div class="image-info">
                {{ ctrl.mainImage.description._content }}
                <div ng-style="{'color': 'red'}" data-ng-if="!ctrl.mainImage.description._content">
                    No description available
                </div>
                <table class="margin-top">
                    <tr>
                        <th>Label</th>
                        <th>Resolution</th>
                        <th>Link</th>
                    </tr>
                    <tr data-ng-repeat="size in ctrl.mainImageInfo.sizes.size">
                        <td>{{ size.label }}</td>
                        <td>{{ size.height }}&nbsp;X&nbsp;{{ size.height }}</td>
                        <td><a href="{{ size.source }}" download target="_blank"><b>Download</b></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>