<div>
    <div class="allimages">
        <div class="image-block animated jello"
            data-ng-repeat="image in ctrl.imageJSON.photos.photo | filter: ctrl.getText()"
            layout="column"
            layout-align="end center">
            <div class="image-content">
                {{ image.title }}
            </div>
            <div class="image" id="inner">
                <img src="https://farm{{ image.farm }}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}.jpg">
                </img>
            </div>
        </div>
    </div>
</div>
